<title th:fragment="title">Gestione magazzini</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/warehouse}">Gestione Magazzino</a></li>
                    <li class="active">Inserisci prodotti in magazzino</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Inserisci prodotti in magazzino</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista magazzini</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <input type="search" class="form-control col-lg-6" id="searchProductRegistration"
                                           placeholder="Cerca prodotto da inserire . . .">
                                    <input type="hidden" id="idWarehouse" th:value="${idWarehouse}">
                                    <div id="tableProduct">
                                        <table class="table">

                                            <tbody id="foundProduct">
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <div id="tableProductRegisterSelection">
                                        <form method="post" th:action="@{'/product/register/item/'+${idWarehouse}}">
                                            <table class="table">
                                                <thead>
                                                <th>ID</th>
                                                <th>Nome</th>
                                                <th>Marca</th>
                                                <th>NR. Articolo</th>
                                                <th>Qta</th>
                                                <th>Nr di pezzi</th>
                                                <th>Soglia allarme</th>
                                                <th>Soglia preallarme</th>
                                                </thead>
                                                <tbody id="tableAppenderProduct">

                                                </tbody>
                                            </table>

                                            <input type="submit" class="col-lg-12 btn btn-primary"
                                                   value="Inserisci articoli"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
