<title th:fragment="title">Gestione magazzini</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/warehouse}">Gestione Magazzino</a></li>
                    <li class="active">Stampa barcode</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Prodotti appena inseriti</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista prodotti inseriti</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <span class="btn btn-primary" id="printBtn">Stampa tutto</span><br><br>
                                    <div id="printArea" class="row">
                                        <div th:each="item : ${items}" style="float: left">
                                            <img th:src="@{/resources/image/}+${item.itemCod}+@{.png}" width="200px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
