<title th:fragment="title">Modifica Utenti</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/warehouseObj}">Gestione Magazzino</a></li>
                    <li class="active">Modifica Magazzino - <span th:text="${warehouseObj.name}">name</span></li>
                </ol>
                <div class="col-md-12">
                     <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Modifica Magazzino: <i th:text="${warehouseObj.name}">name</i></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action="@{'/warehouse/update/'+${warehouseObj.id}}" method="post" th:object="${warehouseObj}">

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       th:field="*{name}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Indirizzo</label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       th:field="*{route}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">CAP</label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       th:field="*{nap}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Località</label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       th:field="*{nation}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="threshold">Responsabile</label>
                                            <div class="col-md-4">
                                                <select name="responsable" class="form-control">
                                                    <option th:each=" resp : ${userResponsable}" th:value="${resp.id}"
                                                            th:selected="${resp.id == warehouseObj.users.id}"
                                                            name="responsable" th:text="${resp}">Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>




                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for=""></label>
                                            <div class="col-md-8">
                                                <input type="submit" value="Inserisci" class="btn btn-primary" >

                                                </input>
                                                <a id="cancel" name="cancel" class="btn btn-inverse" th:href="@{/warehouse}">Annulla
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>
