<title th:fragment="title">Gestione magazzini</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Gestione Magazzini</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Gestione magazzini</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista magazzini</a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Magazzini chiusi</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <input type="search" class="form-control col-lg-6" id="search-warehouse-open"
                                           placeholder="Cerca magazzino . . ."/>
                                    <br>
                                    <br>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="dataTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Indirizzo</th>
                                            <th>Responsabile</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="warehouseOpen">
                                        <tr th:each="warehouse : ${listOfWarehouse}">
                                            <td th:text="${warehouse.id}">6543</td>
                                            <td th:text="${warehouse.name}">Centro Tecnico Logistico Città di Locarno
                                            </td>
                                            <td><span th:text="${warehouse.route}"></span>, <span
                                                    th:text="${warehouse.nap}"></span> <span
                                                    th:text="${warehouse.nation}"></span></td>
                                            <td th:text="${warehouse.users}">Sig. Artiglia Waldo</td>

                                            <td><a th:href="@{'/warehouse/addproduct/'+${warehouse.id}}">
                                                <span class="glyphicon glyphicon-log-in" data-toggle="tooltip"
                                                      data-placement="top" title="registra entrata in magazzino"></span></a></td>
                                            <td><a th:href="@{'/warehouse/inventory/'+${warehouse.id}}">
                                                <span class="glyphicon glyphicon-barcode" data-toggle="tooltip"
                                                      data-placement="top" title="inventario magazzino"></span></a></td>
                                            <td><a th:href="@{'/warehouse/update/'+${warehouse.id}}">
                                                <span class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                      data-placement="top" title="Modifica magazzino"></span></a>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                      data-placement="top" title="Elimina magazzino"
                                                      data-toggle="modal"
                                                      th:attr="data-target='#delete'+${warehouse.id}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="closedTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Indirizzo</th>
                                            <th>Responsabile</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="warehouseClosed : ${listOfWarehouseClosed}">
                                            <td th:text="${warehouseClosed.id}">6543</td>
                                            <td th:text="${warehouseClosed.name}">Centro Tecnico Logistico Città di
                                                Locarno
                                            </td>
                                            <td><span th:text="${warehouseClosed.route}"></span>, <span
                                                    th:text="${warehouseClosed.nap}"></span> <span
                                                    th:text="${warehouseClosed.nation}"></span></td>
                                            <td th:text="${warehouseClosed.users}">Sig. Artiglia Waldo</td>

                                            <td><a th:href="@{'/warehouse/inventory/'+${warehouseClosed.id}}"><span
                                                    class="glyphicon glyphicon-barcode" data-toggle="tooltip"
                                                    data-placement="top" title="inventario magazzino"></span></a></td>
                                            <td><a th:href="@{'/warehouse/update/'+${warehouseClosed.id}}"><span
                                                    class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica magazzino"></span></a>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip"
                                                      data-placement="top" title="Riattiva magazzino"
                                                      data-toggle="modal"
                                                      th:attr="data-target='#open'+${warehouseClosed.id}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div th:each="w : ${listOfWarehouse}" class="modal fade" th:attr="id='delete'+${w.id}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione del magazzino: <i th:text="${w.name}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/warehouse/delete/'+${w.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>

    <div th:each="t : ${listOfWarehouseClosed}" class="modal fade" th:attr="id='open'+${t.id}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto la riattivazione del magazzino: <i th:text="${t.name}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/warehouse/open/'+${t.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>

</div>
