<title th:fragment="title">Inserisci Utente</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/warehouse}">Gestione Magazzino</a></li>
                    <li class="active">Registrazione nuovo magazzino</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Inserisci nuovo magazzino</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action="@{/warehouse/register}"
                                          th:object="${warehouseObj}" method="post">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Nome</label>
                                            <div class="col-md-7">
                                                <input th:field="*{name}" type="text" name="name"
                                                       placeholder="inserisci nome magazzino"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Indirizzo</label>
                                            <div class="col-md-7">
                                                <input th:field="*{route}" type="text" name="route"
                                                       placeholder="inserisci indirizzo e numero civico"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">CAP</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{nap}" name="nap"
                                                       placeholder="CAP"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Località</label>
                                            <div class="col-md-7">
                                                <input th:field="*{nation}" type="text" name="nation"
                                                       placeholder="Inserisci località"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Responsabile</label>
                                            <div class="col-md-4">
                                                <select name="responsable" class="form-control">
                                                    <option th:each=" resp : ${userResponsable}" th:value="${resp.id}"
                                                            name="responsable" th:text="${resp}">Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for=""></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary" value="Inserisci">
                                                <a id="cancel" name="cancel" class="btn btn-inverse"
                                                   th:href="@{/warehouse}">Annulla
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
