<title th:fragment="title">Gestione magazzini</title>
<div th:fragment="contentDashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/warehouse}">Gestione Magazzino</a></li>
                    <li class="active" th:text="${warehouse.name}"></li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header" th:text="${'Inventario '+warehouse.name}"></h2>
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab" th:text="${warehouse.name}"></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <input type="search" class="form-control col-lg-6"
                                           placeholder="Cerca prodotto . . .">
                                        <form class="form-horizontal"
                                              th:action="@{'/warehouse/warehouseToConstructionSite/'+${warehouse.id}}"
                                              method="post">
                                            <div class="alert alert-info">
                                                <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                            </div>
                                            <table class="display nowrap" id="dataTable" width="100%">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nome</th>
                                                <th>Marca</th>
                                                <th>Numero articolo</th>
                                                <th>Stato</th>
                                                <th>Seleziona</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="article : ${items}">
                                                <td th:text="${article.id}">6543</td>
                                                <td th:text="${article.name}">895</td>
                                                <td th:text="${article.brand}">TuboMarca</td>
                                                <td th:text="${article.article_nr}">15435146</td>
                                                <td>
                                                    <span th:if="${article.label} == -1" class="label label-success">Disponibile</span>
                                                    <span th:if="${article.label} == 0" class="label label-warning">Preallarme</span>
                                                    <span th:if="${article.label} == 1" class="label label-danger">Allarme</span>
                                                </td>
                                                <td><input name="checked" id="check" type="checkbox" aria-label=""
                                                           th:value="${article.id}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <input type="submit" class="btn btn-primary" value="Registra uscita" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>