<title th:fragment="title">Registrazione uscita da magazzino</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/construction}">Gestione Cantiere</a></li>
                    <li><a th:href="@{/construction/information}">Informazioni - Nome cantiere</a></li>
                    <li class="active">Registra ritorno da cantiere</li>
                </ol>
                <div class="col-md-12">


                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Prodotti selezionati: </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form form-group" action="" method="post"
                                          th:action="@{'/contruction/constructionToWarehouse/'+${construction.id}}">
                                        <label class="col-md-4 control-label" for="threshold">Scegli il magazzino a cui
                                            ritornare la merce</label>
                                        <div class="col-md-6">
                                            <select id="threshold" name="warehouse" class="form-control">
                                                <option th:each=" w : ${warehouse}" th:value="${w.id}"
                                                        name="warehouse" th:text="${w.name}">Options
                                                </option>
                                            </select>
                                        </div>
                                        <br>
                                        <hr>
                                        <br>
                                        <div class="col-lg-6">
                                            <table class="table table-responsive">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nome</th>
                                                    <th>Marca</th>
                                                    <th>Numero articolo</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr th:each="article : ${articles}" name="article"
                                                    th:value="${article.id}">
                                                    <td th:text="${article.id}"></td>
                                                    <td th:text="${article.name}"></td>
                                                    <td th:text="${article.brand}"></td>
                                                    <td th:text="${article.article_nr}"></td>

                                                    <td>
                                                        <button name="chooseCS" class="btn btn-primary btn-sm"
                                                                th:id="${construction.id}+'_'+${article.id}">
                                                            seleziona
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-6 well-sm">


                                            <table id="itemSetCS" class="table table-responsive">
                                                <thead>
                                                <tr>
                                                    <th>Seleziona item</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody id="generateFieldItemCS">
                                                <tr id="mettimiqui"></tr>
                                                </tbody>
                                            </table>


                                        <input type="submit" id="buttonSubmitCS" class="btn btn-success"
                                               value="Registra Ritorno"/>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
