<title th:fragment="title">Gestione Cantieri</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Gestione cantieri</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Gestione cantieri</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista cantieri</a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Cantieri chiusi</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <input type="search" class="form-control col-lg-6"
                                           placeholder="Cerca cantiere . . ." id="searchConstructionSite" />
                                    <br>
                                    <br>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="dataTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Indirizzo</th>
                                            <th>Resp. Municipale</th>
                                            <th>Impr. Costruzione</th>
                                            <th>Impr. Pavimentazione</th>
                                            <th>Capo Progetto</th>
                                            <th>Responsabile</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="constructionSiteTable">

                                        <tr th:each="constrSite : ${constrSiteList}">
                                            <td th:text="${constrSite.id}">ID</td>
                                            <td th:text="${constrSite.name}">Nome</td>
                                            <td><span th:text="${constrSite.route}"></span>, <span
                                                    th:text="${constrSite.nap}"></span> <span
                                                    th:text="${constrSite.nation}"></span></td>
                                            <td th:text="${constrSite.respMunicipality.number}">Resp. Municipal</td>
                                            <td th:text="${constrSite.constructionFirm.name}">Impr. Construzione</td>
                                            <td th:text="${constrSite.flooringCompany.name}">Impr. Pavimentazione</td>
                                            <td th:text="${constrSite.projectManager}">Capo Progetto</td>
                                            <td th:text="${constrSite.responsible}">Responsabile</td>

                                            <td><a th:href="@{'/construction/information/'+${constrSite.id}}"><span
                                                    class="glyphicon glyphicon-info-sign"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Informazioni cantiere"></span></a></td>
                                            <td><a th:href="@{'/construction/update/'+${constrSite.id}}"><span
                                                    class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica cantiere"></span></a>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                      data-placement="top" title="Elimina Cantiere" width="16px"
                                                      data-toggle="modal"
                                                      th:attr="data-target='#delete'+${constrSite.id}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="closedTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Indirizzo</th>
                                            <th>Resp. Municipale</th>
                                            <th>Impr. Costruzione</th>
                                            <th>Impr. Pavimentazione</th>
                                            <th>Capo Progetto</th>
                                            <th>Responsabile</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="constr : ${constrSiteListClosed}">
                                            <td th:text="${constr.id}">ID</td>
                                            <td th:text="${constr.name}">Nome</td>
                                            <td><span th:text="${constr.route}"></span>, <span
                                                    th:text="${constr.nap}"></span> <span
                                                    th:text="${constr.nation}"></span></td>
                                            <td th:text="${constr.respMunicipality.number}">Resp. Municipal</td>
                                            <td th:text="${constr.constructionFirm.name}">Impr. Construzione</td>
                                            <td th:text="${constr.flooringCompany.name}">Impr. Pavimentazione</td>
                                            <td th:text="${constr.projectManager}">Capo Progetto</td>
                                            <td th:text="${constr.responsible}">Responsabile</td>

                                            <td><a th:href="@{'/construction/information/'+${constr.id}}"><span
                                                    class="glyphicon glyphicon-info-sign"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Informazioni cantiere"></span></a></td>
                                            <td><a th:href="@{/construction/update}"><span
                                                    class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica cantiere"></span></a>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip"
                                                      data-placement="top" title="Riattiva Cantiere"
                                                      data-toggle="modal"
                                                      th:attr="data-target='#open'+${constr.id}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div th:each="w : ${constrSiteList}" class="modal fade" th:attr="id='delete'+${w.id}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione del cantiere: <i th:text="${w.name}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/construction/delete/'+${w.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>
    <div th:each="t : ${constrSiteListClosed}" class="modal fade" th:attr="id='open'+${t.id}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto la riattivazione del cantiere: <i th:text="${t.name}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/construction/open/'+${t.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>
</div>
