<title th:fragment="title">Inserisci nuovo cantiere</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/construction}">Gestione cantieri</a></li>
                    <li class="active">Inserisci nuovo cantiere</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Inserisci nuovo cantiere</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action="@{/construction/register}"
                                          method="post" th:object="${newConstructioSite}" autocomplete="no">

                                        <h3>Dettagli cantiere</h3>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{name}"
                                                       placeholder="Nome cantiere"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Indirizzo</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{route}"
                                                       placeholder="Inserisci Indirizzo"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">CAP</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{nap}"
                                                       placeholder="CAP"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Località</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{nation}"
                                                       placeholder="Località"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Capo progetto</label>
                                            <div class="col-md-7">
                                                <select name="pManager" class="form-control">
                                                    <option th:each=" chef : ${listOfChef}" th:value="${chef.id}"
                                                            name="pManager" th:text="${chef}">Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Responsabile</label>
                                            <div class="col-md-7">
                                                <select name="responsable" class="form-control">
                                                    <option th:each=" responsable : ${listOfChef}"
                                                            th:value="${responsable.id}"
                                                            name="responsable" th:text="${responsable}">Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <h3>Risoluzione municipale</h3>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Numero</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{respMunicipality.number}"
                                                       placeholder="Numero"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Data</label>
                                            <div class="col-md-7">
                                                <input name="dateRespMun" type="date"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Credito</label>
                                            <div class="col-md-7">
                                                <input type="number" class="form-control col-md-5" aria-label=""
                                                       required="" th:field="*{respMunicipality.credit}">
                                            </div>
                                        </div>
                                        <hr>
                                        <h3>Impresa di pavimentazione</h3>
                                        <div class="well">
                                            <p>Utilizzare questo box per ricercare un impresa di pavimentazione</p>
                                            <p>Cliccare <i class="glyphicon glyphicon-plus"></i> per selezionare
                                                l'impresa
                                            </p>
                                            <p>Cliccare <a><i class="glyphicon glyphicon-plus-sign" style="color: green"></i></a>  per inserire una
                                                nuova impresa nel sistema</p>
                                        </div>
                                        <div class="form-group" id="ricercaPavimentazione">
                                            <label class="col-md-2 control-label" for="">Impresa di
                                                pavimentazione</label>

                                            <div class="col-md-7">
                                                <input type="text"
                                                       placeholder="Ricerca Impresa di pavimentazione"
                                                       class="form-control input-md" id="ricercaImpresa">
                                            </div>
                                            <label class="col-md-2 control-label" for="">
                                                <a id="showPavimentazione">
                                                    <span class="glyphicon glyphicon-plus-sign"
                                                          style="font-size: 1.2em; color: green"></span>
                                                </a>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-8 col-lg-offset-2">
                                                <table class="table">
                                                    <tbody id="imprese"></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- PARTE NASCOSTA IMPRESA PAVIMENTAZIONE-->

                                        <div id="foundPavimentazione">
                                            <input class="form-control" type="hidden" id="idPavimentazione"
                                                   name="idPavimentazione"/>
                                            <table class="table">
                                                <tbody id="impresaTrovata">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="impresaPavimentazione">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Nome</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{flooringCompany.name}"
                                                           placeholder="nome Impresa di Pavimentazione"
                                                           id="name"
                                                           class="form-control input-md">
                                                </div>
                                                <label class="col-md-2 control-label" for="">
                                                    <a id="hidePavimentazione">
                                                         <span class="glyphicon glyphicon-minus-sign"
                                                               style="font-size: 1.3em; color: darkred"></span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Indirizzo</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{flooringCompany.route}"
                                                           placeholder="Indirizzo Impresa di Pavimentazione"
                                                           id="route"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Cap</label>
                                                <div class="col-md-7">
                                                    <input type="number" th:field="*{flooringCompany.nap}"
                                                           id="nap"
                                                           placeholder="CAP Impresa di Pavimentazione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="textinput">Localita</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{flooringCompany.nation}"
                                                           placeholder="Localita Impresa di Pavimentazione"
                                                           id="nation"
                                                           class="form-control input-md">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="textinput">Telefono</label>
                                                <div class="col-md-7">
                                                    <input type="number" th:field="*{flooringCompany.phone}"
                                                           id="phone"
                                                           placeholder="Recapito telefonico Impresa di pavimentazione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="textinput">Fax</label>
                                                <div class="col-md-7">
                                                    <input type="number" th:field="*{flooringCompany.fax}"
                                                           placeholder="Fax Impresa di Pavimentazione"
                                                           id="fax"
                                                           class="form-control input-md">
                                                </div>
                                            </div>

                                            <div class="form-group" id="ricercaPersonaPavimentazione">
                                                <label class="col-md-2 control-label" for="">Contatto</label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           placeholder="Ricerca contatto"
                                                           id="ricercaPersonaImpresaPavimentazione"
                                                           class="form-control input-md">
                                                </div>
                                                <label class="col-md-2 control-label" for="">
                                                    <a id="showPersonPavimentazione"><span class="glyphicon glyphicon-plus-sign"
                                                                                           style="font-size: 1.3em; color: green"></span></a>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-8 col-lg-offset-2">
                                                    <table class="table" id="foundPersonPavimentazione">
                                                        <tbody id="personaImpresaPavimentazione"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- PARTE NASCOSTA PERSONA-->
                                        <div id="personaTrovataPavimentazione">
                                            <input class="form-control" type="hidden" id="idPersonPavimentazione"
                                                   name="idPersonPavimentazione"/>
                                            <table class="table">
                                                <tbody id="personaPavTrovata">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="parteNascostaPersonaPavimentazione">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Nome</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{flooringCompany.contact.name}"
                                                           placeholder="Nome persona di contatto impresa di pavimentazione"
                                                           class="form-control input-md">
                                                </div>
                                                <label class="col-md-2 control-label" for="textinput">
                                                    <a id="hidePersonPavimentazione"><span class="glyphicon glyphicon-minus-sign"
                                                                                           style="font-size: 1.3em; color: darkred"></span></a>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Cognome</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{flooringCompany.contact.lastname}"
                                                           placeholder="Cognome persona di contatto impresa di pavimentazione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">E-Mail</label>
                                                <div class="col-md-7">
                                                    <input type="email" th:field="*{flooringCompany.contact.email}"
                                                           placeholder="E-Mail persona di contatto impresa di pavimentazione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- FINE PARTE NASCOSA PERSONA-->
                                        <!-- FINE PARTE NASCOSA IMPRESA COSTRUZIONE-->

                                        <hr>
                                        <h3>Impresa di costruzione</h3>
                                        <div class="well">
                                            <p>Utilizzare questo box per ricercare un impresa di costruzione</p>
                                            <p>Cliccare <i class="glyphicon glyphicon-plus"></i> per selezionare
                                                l'impresa
                                            </p>
                                            <p>Cliccare <a><i class="glyphicon glyphicon-plus-sign" style="color: green"></i></a>  per inserire una
                                                nuova impresa nel sistema</p>
                                        </div>
                                        <div class="form-group" id="ricercaCostruzione">
                                            <label class="col-md-2 control-label">Impresa di
                                                Costruzione</label>
                                            <div class="col-md-7">
                                                <input id="ricercaImpresCostr" name="textinput" type="text"
                                                       placeholder="Ricerca Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                            <label class="col-md-2 control-label"
                                            <a id="showCostruzione"><span class="glyphicon glyphicon-plus-sign"
                                                                          style="font-size: 1.3em; color: green"></span></a>
                                            </label>
                                            <div class="form-group">
                                                <div class="col-lg-8 col-lg-offset-2">
                                                    <table class="table">
                                                        <tbody id="impreseCostruzione"></tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- PARTE NASCOSTA IMPRESA COSTRUZIONE-->
                                        <div id="foundCostruzione">
                                            <input class="form-control" type="hidden" id="idCostruzione"
                                                   name="idCostruzione"/>
                                            <table class="table">
                                                <tbody id="impresaCostruzioneTrovata">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="impresaCostruzione">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Nome</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{constructionFirm.name}"
                                                           placeholder="nome Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                                <label class="col-md-2 control-label" for="">
                                                    <a id="hideCostruzione"><span class="glyphicon glyphicon-minus-sign"
                                                                                  style="font-size: 1.3em; color: darkred"></span></a>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Indirizzo</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{constructionFirm.route}"
                                                           placeholder="Indirizzo Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Cap</label>
                                                <div class="col-md-7">
                                                    <input type="number" th:field="*{constructionFirm.nap}"
                                                           placeholder="CAP Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Localita</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{constructionFirm.nation}"
                                                           placeholder="Località Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Telefono</label>
                                                <div class="col-md-7">
                                                    <input type="number" th:field="*{constructionFirm.phone}"
                                                           placeholder="Recapito telefonico Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Fax</label>
                                                <div class="col-md-7">
                                                    <input type="number" th:field="*{constructionFirm.fax}"
                                                           placeholder="Fax Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group" id="ricercaPersonaCostruzione">
                                                <label class="col-md-2 control-label" for="">Contatto</label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           id="ricercaPersonaImpresaCostruzione"
                                                           placeholder="Ricerca contatto"
                                                           class="form-control input-md">
                                                </div>
                                                <label class="col-md-2 control-label" for="">
                                                    <a id="showPerson"><span class="glyphicon glyphicon-plus-sign"
                                                                             style="font-size: 1.3em; color: green"></span></a>
                                                </label>
                                            </div>
                                            <div class="form-group" id="tabellaPersone">
                                                <div class="col-lg-8 col-lg-offset-2">
                                                    <table class="table" id="foundPersonCostruzione">
                                                        <tbody id="personaImpresaCostruzione"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- PARTE NASCOSTA PERSONA-->
                                        <div id="personaTrovataCostruzione">
                                            <input class="form-control" type="hidden" id="idPersonCostruzione"
                                                   name="idPersonCostruzione"/>
                                            <table class="table">
                                                <tbody id="personaCostrTrovata">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="parteNascostaPersonaCostruzione">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Nome</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{constructionFirm.contact.name}"
                                                           placeholder="nome contatto Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                                <label class="col-md-2 control-label" for="">
                                                    <a id="hidePerson"><span class="glyphicon glyphicon-minus-sign"
                                                                             style="font-size: 1.3em; color: darkred"></span></a>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">Cognome</label>
                                                <div class="col-md-7">
                                                    <input type="text" th:field="*{constructionFirm.contact.lastname}"
                                                           placeholder="cognome contatto Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="">E-Mail</label>
                                                <div class="col-md-7">
                                                    <input type="email" th:field="*{constructionFirm.contact.email}"
                                                           placeholder="E-Mail contatto Impresa di costruzione"
                                                           class="form-control input-md">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- FINE PARTE NASCOSA PERSONA-->
                                        <!-- FINE PARTE NASCOSA IMPRESA COSTRUZIONE-->
                                        <hr>
                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for=""></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary" value="Inserisci"/>
                                                <a id="cancel" name="cancel" class="btn btn-inverse"
                                                   th:href="@{/construction}">Annulla
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
