<title th:fragment="title">Gestione Cantieri</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/construction}">Gestione cantieri</a></li>
                    <li class="active">Modifica cantiere - nomecantiere</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Modifica</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        modifica cantiere: Cantiere 23</a>
                                </li>


                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:object="${constructionSite}"
                                          th:action="@{'/construction/update/'+${constructionSite.id}}"
                                          method="post">

                                        <h3>Dettagli cantiere</h3>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{name}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Indirizzo</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{route}"
                                                       th:val="Inserisci Indirizzo"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">CAP</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{nap}"
                                                       placeholder="CAP"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Località</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{nation}"
                                                       placeholder="Località"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Capo progetto</label>
                                            <div class="col-md-7">
                                                <select name="pManager" class="form-control">
                                                    <option th:each=" chef : ${listOfChef}" th:value="${chef.id}"
                                                            name="pManager" th:text="${chef}"
                                                            th:selected="${chef.id == constructionSite.projectManager.id}">
                                                        Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Responsabile</label>
                                            <div class="col-md-7">
                                                <select name="responsable" class="form-control">
                                                    <option th:each=" responsable : ${listOfChef}"
                                                            th:value="${responsable.id}"
                                                            name="responsable" th:text="${responsable}"
                                                            th:selected="${responsable.id == constructionSite.responsible.id}">
                                                        Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <h3>Risoluzione municipale</h3>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Numero</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{respMunicipality.number}"
                                                       placeholder="Numero"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Data</label>
                                            <div class="col-md-7">
                                                <input name="dateRespMun" type="text"
                                                       class="form-control input-md" th:field="*{respMunicipality.date}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Credito</label>
                                            <div class="col-md-7">
                                                <input type="number" class="form-control col-md-5" aria-label=""
                                                       required="" th:field="*{respMunicipality.credit}">
                                            </div>
                                        </div>
                                        <hr>
                                        <h3>Impresa di pavimentazione</h3>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{flooringCompany.name}"
                                                       placeholder="nome Impresa di Pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Indirizzo</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{flooringCompany.route}"
                                                       placeholder="Indirizzo Impresa di Pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Cap</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{flooringCompany.nap}"
                                                       placeholder="CAP Impresa di Pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Localita</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{flooringCompany.nation}"
                                                       placeholder="Localita Impresa di Pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Telefono</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{flooringCompany.phone}"
                                                       placeholder="Recapito telefonico Impresa di pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Fax</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{flooringCompany.fax}"
                                                       placeholder="Fax Impresa di Pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{flooringCompany.contact.name}"
                                                       placeholder="Nome persona di contatto impresa di pavimentazione"
                                                       class="form-control input-md">
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Cognome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{flooringCompany.contact.lastname}"
                                                       placeholder="Cognome persona di contatto impresa di pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">E-Mail</label>
                                            <div class="col-md-7">
                                                <input type="email" th:field="*{flooringCompany.contact.email}"
                                                       placeholder="E-Mail persona di contatto impresa di pavimentazione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>


                                        <hr>
                                        <h3>Impresa di costruzione</h3>


                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{constructionFirm.name}"
                                                       placeholder="nome Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Indirizzo</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{constructionFirm.route}"
                                                       placeholder="Indirizzo Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Cap</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{constructionFirm.nap}"
                                                       placeholder="CAP Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Localita</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{constructionFirm.nation}"
                                                       placeholder="Località Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Telefono</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{constructionFirm.phone}"
                                                       placeholder="Recapito telefonico Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Fax</label>
                                            <div class="col-md-7">
                                                <input type="number" th:field="*{constructionFirm.fax}"
                                                       placeholder="Fax Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Nome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{constructionFirm.contact.name}"
                                                       placeholder="nome contatto Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Cognome</label>
                                            <div class="col-md-7">
                                                <input type="text" th:field="*{constructionFirm.contact.lastname}"
                                                       placeholder="cognome contatto Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">E-Mail</label>
                                            <div class="col-md-7">
                                                <input type="email" th:field="*{constructionFirm.contact.email}"
                                                       placeholder="E-Mail contatto Impresa di costruzione"
                                                       class="form-control input-md">
                                            </div>
                                        </div>

                                        <hr>
                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for=""></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-success" value="Modifica"/>
                                                <a id="cancel" name="cancel" class="btn btn-inverse"
                                                   th:href="@{/constructionSite}">Annulla
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="updateConstructionSite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Modificare definitivamente il cantiere?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal" th:href="@{/construction}">Annulla</a>
                    <a type="button" class="btn btn-primary" th:href="@{/construction}">Confermo</a>
                </div>
            </div>
        </div>
    </div>
</div>
