<title th:fragment="title">Gestione Cantieri</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/construction}">Gestione cantieri</a></li>
                    <li class="active">Informazioni cantiere - <i th:text="${construction.name}">nomecantiere</i></li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab" th:text="${construction.name}">
                                        Cantiere</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <table class="table">
                                        <tr>
                                            <th>ID</th>
                                            <th th:text="${construction.id}"></th>
                                        </tr>
                                        <tr>
                                            <th>Nome</th>
                                            <th th:text="${construction.name}"></th>
                                        </tr>
                                        <tr>
                                            <th>Indirizzo</th>
                                            <th><span th:text="${construction.route}"></span>, <span
                                                    th:text="${construction.nap}"></span> <span
                                                    th:text="${construction.nation}"></span></th>
                                        </tr>
                                        <tr>
                                            <th>Resp. Municipale</th>
                                            <th>
                                                <a role="button" data-toggle="collapse"
                                                   href="#respMunicipale" aria-expanded="false"
                                                   aria-controls="collapseExample" th:text="${construction.respMunicipality.number}">

                                                </a>
                                                <div class="collapse" id="respMunicipale">
                                                    <div class="well">
                                                        <span th:text="${construction.respMunicipality.number}"></span><br>
                                                        <span th:text="${#dates.format(construction.respMunicipality.date, 'dd.mm.yyyy')}"></span><br>
                                                        <span th:text="${construction.respMunicipality.credit}"></span>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Impr. Costruzione</th>
                                            <th>
                                                <a role="button" data-toggle="collapse"
                                                   href="#imprCostruzione" aria-expanded="false"
                                                   aria-controls="collapseExample" th:text="${construction.constructionFirm.name}">
                                                    Impresa Costruzione SA
                                                </a>
                                                <div class="collapse" id="imprCostruzione">
                                                    <div class="well">
                                                        <span th:text="${construction.constructionFirm.name}"></span><br>
                                                        <span th:text="${construction.constructionFirm.route}"></span>, <span th:text="${construction.constructionFirm.nap}"></span> <span th:text="${construction.constructionFirm.nation}"></span><br>
                                                        <i class="glyphicon glyphicon-earphone"></i> <span th:text="${construction.constructionFirm.phone}"></span><br>
                                                        Fax: <span th:text="${construction.constructionFirm.fax}"></span><br>
                                                        <span th:text="${construction.constructionFirm.contact}"></span>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Impr. Pavimentazione</th>
                                            <th>
                                                <a role="button" data-toggle="collapse"
                                                   href="#imprPavimentazione" aria-expanded="false"
                                                   aria-controls="collapseExample" th:text="${construction.flooringCompany.name}">
                                                    Impresa Pavimentazione SA
                                                </a>
                                                <div class="collapse" id="imprPavimentazione">
                                                    <div class="well">
                                                        <span th:text="${construction.flooringCompany.name}"></span><br>
                                                        <span th:text="${construction.flooringCompany.route}"></span>, <span th:text="${construction.flooringCompany.nap}"></span> <span th:text="${construction.flooringCompany.nation}"></span><br>
                                                        <i class="glyphicon glyphicon-earphone"></i> <span th:text="${construction.flooringCompany.phone}"></span><br>
                                                        Fax: <span th:text="${construction.flooringCompany.fax}"></span><br>
                                                        <span th:text="${construction.flooringCompany.contact}"></span>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Capo Progetto</th>
                                            <th>
                                                <a role="button" data-toggle="collapse"
                                                   href="#capoProgetto" aria-expanded="false"
                                                   aria-controls="collapseExample" th:text="${construction.projectManager.username}">

                                                </a>
                                                <div class="collapse" id="capoProgetto">
                                                    <div class="well">
                                                        <span th:text="${construction.projectManager.name}"></span> <span th:text="${construction.projectManager.lastname}"></span><br>
                                                        <span th:text="${construction.projectManager.username}"></span><br>
                                                        <span th:text="${construction.projectManager.email}"></span><br>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Responsabile</th>
                                            <th>
                                                <a role="button" data-toggle="collapse"
                                                   href="#responsabile" aria-expanded="false"
                                                   aria-controls="collapseExample"  th:text="${construction.responsible.username}">
                                                    Luca Margonar
                                                </a>
                                                <div class="collapse" id="responsabile">
                                                    <div class="well">
                                                        <span th:text="${construction.responsible.name}"></span> <span th:text="${construction.responsible.lastname}"></span><br>
                                                        <span th:text="${construction.responsible.username}"></span><br>
                                                        <span th:text="${construction.responsible.email}"></span><br>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                    <h2>Prodotti sul cantiere</h2>
                                    <form class="form-horizontal"
                                          th:action="@{'/construction/constructionToWarehouse/'+${construction.id}}"
                                          method="post">
                                        <div class="alert alert-info">
                                            <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                        </div>
                                        <table class="display nowrap" id="dataTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Numero articolo</th>
                                            <th>Ritorno in magazzino</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="article : ${articles}">
                                            <td th:text="${article.id}">6543</td>
                                            <td th:text="${article.name}">895</td>
                                            <td th:text="${article.brand}">TuboMarca</td>
                                            <td th:text="${article.article_nr}">15435146</td>
                                            <td><input name="checked" type="checkbox" aria-label="" th:value="${article.id}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input type="submit" class="btn btn-primary" value="Registra Ritorno"/></td>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione dell'utente: <i>marglu</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary">Confermo</button>
                </div>
            </div>
        </div>
    </div>
</div>
