<title th:fragment="title">Inserisci categoria</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/products}">Gestione prodotto</a></li>
                    <li class="active">Inserisci categoria</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Inserisci nuova categoria</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action="@{/product/category/register}"
                                          th:object="${articleCategory}" method="post">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">nome categoria</label>
                                            <div class="col-md-7">
                                                <input th:field="*{category}" type="text" name="name"
                                                       placeholder="inserisci nome categoria"
                                                       class="form-control input-md" required=""/>
                                            </div>
                                        </div>


                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for=""></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-success" value="Inserisci">
                                                <a id="cancel" name="cancel" class="btn btn-inverse"
                                                   th:href="@{/product/category}">Annulla
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
