<title th:fragment="title">Configurazione categoria</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/products}">Gestione prodotto</a></li>
                    <li><a th:href="@{/product/category}">Configurazione categoria di prodotti</a></li>
                    <li class="active">Nomecategoria</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Configurazione categoria: <i th:text="${category.category}"></i></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal"
                                          th:object="${newArticleFeatures}" th:action="@{'/product/category/configuration/'+${category.id}}" method="post">

                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Insersici un nuovo campo..."  th:field="*{attributeName}"/>
                                            <span class="input-group-btn">
                                                    <input type="submit" class="btn btn-default" value="Inserisci">
                                            </span>
                                        </div>


                                    </form>
                                    <br>
                                    <br>
                                    <ul class="list-group" th:each="f : ${features}">
                                        <li class="list-group-item" th:text="${f.attributeName}">
                                            <label >Campo 1</label>
                                        </li>

                                    </ul>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
