<title th:fragment="title">Aggiorna Utente</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/products}">Gestione prodotto</a></li>
                    <li class="active">Modifica prodotto</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        modifica nuovo prodotto</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                        <form class="form-horizontal" th:action="@{'/product/update/'+${article.id}}" method="post"
                                              th:object="${article}" autocomplete="no">

                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="textinput">Nome</label>
                                                <div class="col-md-7">
                                                    <input id="name" name="name" type="text"
                                                           placeholder="Inserisci nome del prodotto" th:field="*{name}"
                                                           class="form-control input-md" required="">
                                                </div>
                                            </div> <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="textinput">Marca</label>
                                                <div class="col-md-7">
                                                    <input id="textinput" name="textinput" type="text"
                                                           th:field="*{brand}"
                                                           class="form-control input-md" required="" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="textinput">nr. articolo</label>
                                                <div class="col-md-7">
                                                    <input id="textinput" name="textinput" type="text"  th:field="*{article_nr}"
                                                           class="form-control input-md" required="" placeholder="numero del articolo">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label" >Categoria</label>
                                                <div class="col-md-4">
                                                    <select th:attr="id=${article.id}" name="category" class="form-control">
                                                        <option value="volvo" selected disabled>Seleziona categoria</option>
                                                        <option th:each=" c : ${categoryList}" th:value="${c.id}"
                                                                name="category" th:text="${c.category}" th:selected="${c.id == article.articleCategory.id}">Options
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="generateFieldU">

                                            </div>







                                            <!-- Button (Double) -->
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for=""></label>
                                                <div class="col-md-8">
                                                    <input type="submit" class="btn btn-primary" value="Modifica">
                                                    <a id="cancel" name="cancel" class="btn btn-inverse" th:href="@{/products}">Annulla
                                                    </a>
                                                </div>
                                            </div>

                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
