<title th:fragment="title">Gestione Magazzino</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Gestione prodotto</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Prodotti</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista prodotti</a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Lista prodotti eliminati</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <input type="search" class="form-control col-lg-6"
                                           placeholder="Cerca prodotto . . ." id="searchProduct" />
                                    <br>
                                    <br>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="dataTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Numero articolo</th>
                                            <th>Categoria</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>


                                        </tr>
                                        </thead>
                                        <tbody id="fetchArticle">
                                        <tr th:each="p : ${products}">
                                            <td th:text="${p.id}">id</td>
                                            <td th:text="${p.name}">nome</td>
                                            <td th:text="${p.brand}">marca</td>
                                            <td th:text="${p.article_nr}">nr_articolo</td>
                                            <td th:text="${p.articleCategory.category}">categoria</td>
                                            <td><a th:href="@{'/product/information/'+${p.id}}"><span
                                                    class="glyphicon glyphicon-info-sign"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="informazioni"/></a></td>
                                            <td><a th:href="@{'/product/update/'+${p.id}}"><span
                                                    class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica prodotto" width="16px"/>
                                            </a></td>
                                            <td> <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                       data-placement="top" title="Elimina articolo"
                                                       data-toggle="modal"
                                                       th:attr="data-target='#delete'+${p.id}"></span></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>


                                <div class="tab-pane" id="tab_default_2">
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="closedTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Numero articolo</th>
                                            <th>Categoria</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${productsDisable}">
                                            <td th:text="${p.id}">id</td>
                                            <td th:text="${p.name}">nome</td>
                                            <td th:text="${p.brand}">marca</td>
                                            <td th:text="${p.article_nr}">nr_articolo</td>
                                            <td th:text="${p.articleCategory.category}">categoria</td>
                                            <td><a th:href="@{'/product/information/'+${p.id}}"><span
                                                    class="glyphicon glyphicon-info-sign"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="informazioni"/></a></td>
                                            <td><a th:href="@{/product/update}"><span class="glyphicon glyphicon-edit"
                                                                                      data-toggle="tooltip"
                                                                                      data-placement="top"
                                                                                      title="Modifica prodotto"
                                                                                      width="16px"/>
                                            </a></td>
                                            <td> <span class="glyphicon glyphicon-ok" data-toggle="tooltip"
                                                       data-placement="top" title="Abilita articolo"
                                                       data-toggle="modal"
                                                       th:attr="data-target='#enable'+${p.id}"></span></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h2 class="sub-header">Prodotti critici</h2>
                    <table class="table table-responsive" id="productTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Brand</th>
                            <th>Codice</th>
                            <th>Magazzino</th>
                            <th>Qta</th>
                            <th>Preallarme</th>
                            <th>Allarme</th>
                            <th>Stato</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.brand}"></td>
                            <td th:text="${item.article_nr}"></td>
                            <td th:text="${item.location}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${item.warning}"></td>
                            <td th:text="${item.alarm}"></td>
                            <td>
                                <span th:if="${item.label} == -1" class="label label-success">Disponibile</span>
                                <span th:if="${item.label} == 0" class="label label-warning">Preallarme</span>
                                <span th:if="${item.label} == 1" class="label label-danger">Allarme</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>


    <div th:each="p : ${products}" class="modal fade" th:attr="id='delete'+${p.id}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione del articolo: <i th:text="${p.name}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/product/delete/'+${p.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>
    <div th:each="p : ${productsDisable}" class="modal fade" th:attr="id='enable'+${p.id}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'abilitazione del articolo: <i th:text="${p.name}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/product/enable/'+${p.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>
</div>
