<title th:fragment="title">Inserisci prodotto</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/products}">Gestione prodotto</a></li>
                    <li class="active">Inserisci prodotto</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Inserisci nuovo prodotto</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action="@{/product/register}" method="post"
                                          th:object="${newArticle}" autocomplete="no">

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Nome</label>
                                            <div class="col-md-7">
                                                <input id="name" name="name" type="text"
                                                       placeholder="Inserisci nome del prodotto" th:field="*{name}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Marca</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="text"
                                                       placeholder="Inserisci la marca del prodotto"
                                                       th:field="*{brand}"
                                                       class="form-control input-md" required="" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">nr. articolo</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="text"  th:field="*{article_nr}"
                                                       class="form-control input-md" required="" placeholder="numero del articolo">
                                            </div>
                                        </div>
                                        <div class="alert alert-info"><label>Mettere la spunta se l'articolo che stai inserendo è da considerare come un insieme di articoli.</label></div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"></label>
                                            <div class="col-md-7">
                                                <input type="checkbox" th:field="*{boxItem}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="threshold">Categoria</label>
                                            <div class="col-md-4">
                                                <select id="category" name="category" class="form-control">
                                                    <option value="volvo" selected disabled>Seleziona categoria</option>
                                                    <option th:each=" c : ${categoryList}" th:value="${c.id}"
                                                            name="role" th:text="${c.category}">Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="generateField">

                                        </div>







                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for=""></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary" value="Aggiungi">
                                                <a id="cancel" name="cancel" class="btn btn-inverse" th:href="@{/products}">Annulla
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
