<title th:fragment="title">Gestione Prodotti</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/products}">Gestione prodotto</a></li>
                    <li class="active">Informazioni prodotto</li>
                </ol>
                <div class="col-md-12">


                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Prodotto numero articolo 15435146</a>
                                </li>


                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <table class="table">
                                        <tr>
                                            <th>ID</th>
                                            <th th:text="${article.id}"></th>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <th th:text="${article.name}"></th>
                                        </tr>
                                        <tr>
                                            <th>Marca</th>
                                            <th th:text="${article.brand}"></th>
                                        </tr>
                                        <tr>
                                            <th>Numero articolo</th>
                                            <th th:text="${article.article_nr}"></th>
                                        </tr>
                                        <tr>
                                            <th>Categoria</th>
                                            <th th:text="${article.articleCategory.category}"></th>
                                        </tr>
                                        <tr th:each="d: ${article.details}">
                                            <th th:text="${d.feature.attributeName}"></th>
                                            <th th:text="${d.attributeValue}"></th>
                                        </tr>


                                    </table>
                                    <a class="btn btn-primary col-lg-12" th:href="@{'/product/print/article/'+${article.id}}">Stampa tutte le etichette di questo articolo</a>
                                    <h2>Quantità del prodotto nei vari magazzini</h2>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="dataTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Numero articolo</th>
                                            <th>Magazzino</th>
                                            <th>quantità</th>
                                            <th>Stato</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${items}">
                                            <td th:text="${item.name}"></td>
                                            <td th:text="${item.brand}"></td>
                                            <td th:text="${item.articleId}"></td>
                                            <td th:text="${item.warehouse}"></td>
                                            <td th:text="${item.quantity}"></td>
                                            <td>
                                                <span th:if="${item.alarm} == -1" class="label label-success">Disponibile</span>
                                                <span th:if="${item.alarm} == 0"
                                                      class="label label-warning">Preallarme</span>
                                                <span th:if="${item.alarm} == 1"
                                                      class="label label-danger">Allarme</span>
                                            </td>

                                        </tr>


                                        </tbody>
                                    </table>

                                    <h2>Prodotto nei vari cantieri</h2>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="closedTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Marca</th>
                                            <th>Numero articolo</th>
                                            <th>Magazzino</th>
                                            <th>quantità</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${itemConstructions}">
                                            <td th:text="${item.name}"></td>
                                            <td th:text="${item.brand}"></td>
                                            <td th:text="${item.articleId}"></td>
                                            <td th:text="${item.warehouse}"></td>
                                            <td th:text="${item.quantity}"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <h2>Item di questo articolo</h2>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" width="100%" id="productTable">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Data</th>
                                            <th>Codice</th>
                                            <th>Quantità</th>
                                            <th>Location</th>
                                            <th>Stampa</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="i : ${itemList}">
                                            <td th:text="${i.id}"></td>
                                            <td th:text="${i.date}"></td>
                                            <td th:text="${i.itemCod}"></td>
                                            <td th:text="${i.quantity}"></td>
                                            <td th:text="${i.location.name}"></td>
                                            <td><a th:href="@{'/product/print/item/'+${i.id}}">
                                                <span class="glyphicon glyphicon-print" data-toggle="tooltip"
                                                      data-placement="top" title="stampa qrcode"></span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione dell'utente: <i>marglu</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary">Confermo</button>
                </div>
            </div>
        </div>
    </div>
</div>
