<title th:fragment="title">Barcode</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/products}">Gestione prodotto</a></li>
                    <li class="active">Barcode</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Acquisizione tramite barcode</h2>
                    <!-- item -->
                    <div class="col-md-3 text-center">
                        <select class="form-control" id="spostamento">
                            <option value="seleziona">--SCEGLI OPERAZIONE--</option>
                            <option value="spostaitem">sposta item</option>
                            <option value="visualizza">visualizza item</option>
                            <option value="mostramovimenti">mostra movimenti item</option>
                        </select>
                        <select id ="camera-select" hidden="true"></select>
                    </div>
                    <div class="col-lg-8" id="reader">
                        <canvas id="canvas" class="col-lg-12" style="border: 3px solid gray;"></canvas>
                    </div>
                    <br><br>

                </div>
                <div class="col-lg-12">
                    <div class="alert alert-warning" th:if="${error != null }" th:text="${error}">Static summary</div>
                    <table class="table table-responsive">
                        <tbody id="itemFound">

                        </tbody>
                    </table>

                    <table class="table table-responsive">
                        <tbody id="movementItem">

                        </tbody>
                    </table>
                    <div class="col-lg-8" id="moveItem">
                        <form class="form" th:action="@{/product/move}" method="post">
                            <input type="hidden" name="itemCode" id="itemCode">
                            <select name="toLocation" class="form-control">
                                <option th:each=" c : ${to}" th:value="${c.id}"
                                        name="location" id="location" th:text="${c.name}">Options
                                </option>
                            </select>
                            <input type="submit" value="Sposta item">
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>