<title th:fragment="title" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.w3.org/1999/xhtml">Gestione Ruoli</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/user}">Gestione utenti</a></li>
                    <li><a th:href="@{/user/roles}">Gestione ruoli</a></li>
                    <li class="active">Aggiungi funzionalità</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Aggiungi funzionalità al ruolo</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        funzionalità del ruolo: <i th:text="${role.role}"></i></a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Aggiungi/rimuovi funzionalità al ruolo: <i th:text="${role.role}"></i></a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="funct : ${functionalityOfRole}">
                                            <label th:text="${funct.functionality}">functionality</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane " id="tab_default_2">
                                    <form class="form-horizontal"
                                          th:action="@{'/user/roles/update/'+${role.id}+'/addFunctionality'}"
                                          modelAttribute="functionalityList" method="post"
                                          th:object="${functionaltyObj}">
                                        <ul class="list-group">
                                            <li class="list-group-item" th:each="func : ${functionality}">
                                                <input type="checkbox" name="roles"  th:checked="${#lists.contains(role.functionalities, func)}"  th:value="${func.id}" />

                                                <label th:text="${func.functionality}">functionality</label>
                                            </li>
                                        </ul>
                                        <input type="submit" class="btn btn-primary" value="Aggiungi funzionalità"/>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione dell'utente: <i>marglu</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary">Confermo</button>
                </div>
            </div>
        </div>
    </div>
</div>
