<title th:fragment="title" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.w3.org/1999/xhtml">Gestione Ruoli</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/user}">Gestione utenti</a></li>
                    <li class="active">Gestione ruoli</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Gestione ruoli</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista ruoli</a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Nuovo ruolo</a>
                                </li>


                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="dataTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Ruolo</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="role : ${roleList}">
                                            <td th:text="${role.id}">id</td>
                                            <td th:text="${role.role}">role</td>
                                            <td><a th:href="@{'/user/roles/update/'+${role.id}}"><img
                                                    th:src="@{/resources/icon/edit.png}" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica ruolo" width="16px"/></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <form class="form-horizontal" th:action="@{/user/roles}" th:object="${roleObj}" method="post" >
                                        <input type="text" class="form-control" th:field="*{role}" placeholder="Inserisci il nome del ruolo" /><br>
                                        <input type="submit" class="btn btn-primary" value="Aggiungi ruolo"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'eliminazione dell'utente: <i>marglu</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary">Confermo</button>
                </div>
            </div>
        </div>
    </div>
</div>
