<title th:fragment="title">Inserisci Utente</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/user}">Gestione utenti</a></li>
                    <li class="active">Inserisci nuovo utente</li>
                </ol>
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Inserisci nuovo utente</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action="@{/user/register}" method="post"
                                          th:object="${newuser}" autocomplete="no">

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Nome</label>
                                            <div class="col-md-7">
                                                <input id="name" name="name" type="text"
                                                       placeholder="Inserisci nome" th:field="*{name}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Cognome</label>
                                            <div class="col-md-7">
                                                <input id="lastname" name="lastname" type="text"
                                                       placeholder="Inserisci cognome" th:field="*{lastname}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Username</label>
                                            <div class="col-md-7">
                                                <input id="username" name="username" type="text" th:field="*{username}"
                                                       class="form-control input-md" required="" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">E-Mail</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="email"
                                                       placeholder="Inserisci e-mail" th:field="*{email}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>

                                        <!-- Select Basic -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="threshold">Ruolo</label>
                                            <div class="col-md-4">
                                                <select id="threshold" name="role" class="form-control">
                                                    <option th:each=" role : ${roleList}" th:value="${role.id}"
                                                            name="role" th:text="${role.role}">Options
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="submitButton"></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary" value="Aggiungi">
                                                <a id="cancel" name="cancel" class="btn btn-inverse" th:href="@{/user}">Annulla
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>