<title th:fragment="title">Gestione Utenti</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Gestione utenti</li>
                </ol>
                <div class="col-md-12">
                    <h2 class="sub-header">Gestione utenti</h2>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Lista utenti</a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Utenti disabilitati</a>
                                </li>


                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <input type="search" class="form-control col-lg-6" id="userSearch"
                                           placeholder="Cerca utente . . ."/>
                                    <br><br>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="userTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Username</th>
                                            <th>E-Mail</th>
                                            <th>Ruolo</th>
                                            <th>Reset Pwd</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersTable">
                                        <tr th:each="user : ${usersList}">
                                            <td th:text="${user.id}">id</td>
                                            <td th:text="${user.name}">nome</td>
                                            <td th:text="${user.lastname}">cognome</td>
                                            <td th:text="${user.username}">username</td>
                                            <td th:text="${user.email}">email@email.com</td>
                                            <td th:text="${user.role}">ruolo</td>
                                            <td>
                                                    <span class="glyphicon glyphicon-repeat" data-toggle="tooltip"
                                                          data-placement="top" title="Reset Password"
                                                          data-toggle="modal"
                                                          th:attr="data-target='#resetPassword'+${user.id}"></span>
                                            </td>

                                            <td><a th:href="@{'/user/update/'+${user.id}}"><span
                                                    class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica utente"></span></a>
                                            </td>
                                            <td>
                                                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                          data-placement="top" title="Disabilita Utente"
                                                          data-toggle="modal"
                                                          th:attr="data-target='#disabledUser'+${user.id}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="closedTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Cognome</th>
                                            <th>Username</th>
                                            <th>E-Mail</th>
                                            <th>Ruolo</th>
                                            <th>Reset Pwd</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${usersListDisable}">
                                            <td th:text="${user.id}">id</td>
                                            <td th:text="${user.name}">nome</td>
                                            <td th:text="${user.lastname}">cognome</td>
                                            <td th:text="${user.username}">username</td>
                                            <td th:text="${user.email}">email@email.com</td>
                                            <td th:text="${user.role}">ruolo</td>
                                            <td>
                                                <span class="glyphicon glyphicon-repeat center-block" data-toggle="tooltip"
                                                      data-placement="top" title="Reset Password" width="16px"
                                                      data-toggle="modal"
                                                      th:attr="data-target='#resetPassword'+${user.id}"></span>
                                            </td>

                                            <td><a th:href="@{'/user/update/'+${user.id}}"><span
                                                    class="glyphicon glyphicon-edit" data-toggle="tooltip"
                                                    data-placement="top" title="Modifica utente"
                                                    width="16px"></span></a>
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip"
                                                      data-placement="top" title="Abilita Utente" width="16px"
                                                      data-toggle="modal"
                                                      th:attr="data-target='#enableUser'+${user.id}"></span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Modal disabilità utente -->
    <div th:each="u : ${usersList}" class="modal fade" th:attr="id='disabledUser'+${u.id}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto la disabilitazione del utente: <i th:text="${u.username}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/user/disable/'+${u.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>


    <div th:each="u : ${usersListDisable}" class="modal fade" th:attr="id='enableUser'+${u.id}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto l'abilitazione del utente: <i th:text="${u.username}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/user/enable/'+${u.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal reset password -->
    <div th:each="u : ${usersList}" class="modal fade" th:attr="id='resetPassword'+${u.id}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sei sicuro?</h4>
                </div>
                <div class="modal-body">
                    Hai richiesto il reset della password del utente: <i th:text="${u.username}">name</i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <a class="btn btn-primary" th:href="@{'/user/resetpassword/'+${u.id}}">Confermo</a>
                </div>
            </div>
        </div>
    </div>
</div>
