<title th:fragment="title">Modifica Utenti</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/user} ">Gestione Utenti</a></li>
                    <li class="active" >Modifica utente - <span th:text="${userv.username}">username</span></li>
                </ol>
                <div class="col-md-12">

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Modifica utente: <i th:text="${userv.username}">username</i></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <form class="form-horizontal" th:action = "@{'/user/update/'+${userv.id}}" method="post" th:object="${userv}">

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Nome</label>
                                            <div class="col-md-7">

                                                <input id="textinput" name="textinput" type="text"
                                                       th:field="${userv.name}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Cognome</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="text"
                                                       th:field="${userv.lastname}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">E-Mail</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="email"
                                                       th:field="${userv.email}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>

                                        <!-- Select Basic -->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="threshold">Ruolo</label>
                                            <div class="col-md-4">
                                                <select id="threshold" name="role" class="form-control">
                                                    <option th:each=" role : ${roleList}"  th:value="${role.id}" th:selected="${role.id == userv.role.id}"   name="autorithies" th:text="${role.role}">Options</option>
                                                </select>
                                            </div>
                                        </div>


                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="submit"class="btn btn-primary" value="Aggiorna" >
                                                <a id="cancel" name="cancel" class="btn btn-inverse" th:href="@{/user}">Cancella
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>
