<title th:fragment="title">Modifica Utenti</title>
<div th:fragment="contentDashboard">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li><a th:href="@{/user}">Gestione Utenti</a></li>
                    <li class="active">Modifica utente - <span th:text="${username}">username</span></li>
                </ol>
                <div class="col-md-12">

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Visualizza utente</a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Modifica utente</a>
                                </li>
                                <li>
                                    <a href="#tab_default_3" data-toggle="tab">
                                        Notifiche </a>
                                </li>
                                <li>
                                    <a href="#tab_default_4" data-toggle="tab">
                                        Log</a>
                                </li>
                                <li>
                                    <a href="#tab_default_5" data-toggle="tab">
                                        Modifica password</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <table class="table">
                                        <tr>
                                            <th>ID</th>
                                            <th th:text="${userLogged.id}">id
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Nome</th>
                                            <td th:text="${userLogged.name}">nome</td>
                                        </tr>
                                        <tr>
                                            <th>Cognome</th>
                                            <td th:text="${userLogged.lastname}">cognome</td>
                                        </tr>
                                        <tr>
                                            <th>E-mail</th>
                                            <td th:text="${userLogged.email}">email@email.com</td>
                                        </tr>
                                        <tr>
                                            <th>Ruolo</th>
                                            <th th:text="${userLogged.role}">ruolo</th>
                                        </tr>

                                    </table>

                                    <div th:if="${param.error}">
                                        <b style="color: red;"> password non modificata, riprovare.. </b>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_default_5" name="pass">
                                    <form class="form-horizontal" th:action="@{/user/logged/changepassword}"
                                          method="post"
                                          autocomplete="no">

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Vecchia password: </label>
                                            <div class="col-md-7">
                                                <input id="name" name="oldPassword" type="password" value=""
                                                       placeholder="Vecchia password"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Nuova password: </label>
                                            <div class="col-md-7">
                                                <input id="lastname" name="newPassword" type="password"
                                                       placeholder="Nuova password" value=""
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Ripetere Password: </label>
                                            <div class="col-md-7">
                                                <input id="username" name="newPasswordRepet"
                                                       placeholder="Ripetere Password"
                                                       type="password" value=""
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary" value="Aggiorna">
                                                <a id="cancel" name="cancel" class="btn btn-inverse"
                                                   th:href="@{/user/logged}">Cancella
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <form class="form-horizontal" th:action="@{'/user/logged/update/'+${userLogged.id}}"
                                          method="post" th:object="${userLogged}">

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Nome</label>
                                            <div class="col-md-7">

                                                <input id="textinput" name="textinput" type="text"
                                                       th:field="${userLogged.name}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div> <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">Cognome</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="text"
                                                       th:field="${userLogged.lastname}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="textinput">E-Mail</label>
                                            <div class="col-md-7">
                                                <input id="textinput" name="textinput" type="email"
                                                       th:field="${userLogged.email}"
                                                       class="form-control input-md" required="">
                                            </div>
                                        </div>




                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary" value="Aggiorna">
                                                <a id="cancel" name="cancel" class="btn btn-inverse"
                                                   th:href="@{/user/logged}">Cancella
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_default_3">
                                    <h2>Configurazione livelli di notifica soglia prodotti</h2>
                                    <form class="form-horizontal" th:action="@{/user/logged/notification}"
                                          method="post">
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <th>Low</th>
                                                        <td>Notifica via e-mail solo in caso di allarme</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Full</th>
                                                        <td>Notifica via e-mail in caso di allarme e preallarme</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Busy</th>
                                                        <td>Scegli un sostituto che riceverà le tue notifiche
                                                            (malattia/ferie/...)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-12">
                                                <select id="notification" name="notificationS" class="form-control">
                                                    <option th:each="notify : ${notifications}" th:value="${notify.id}"
                                                            th:id="'notify_'+${notify.id}"
                                                            th:selected="${notify.id == userLogged.notifications.id}"
                                                            name="notificationS" th:text="${notify.notification}">
                                                        Options
                                                    </option>
                                                </select>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label" id="notificatioLabel">Scegli il
                                                    tuo
                                                    sostituto</label>
                                                <div class="col-md-6">
                                                    <select id="userSub" name="usersubstitute" class="form-control">
                                                        <option th:each="userS : ${users}" th:value="${userS.id}"
                                                                th:selected="${userS.id == userLogged.substitute.id}"
                                                                name="usersubstitute" th:text="${userS.username}">
                                                            Options
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <input type="submit" value="salva" class="btn btn-primary">
                                            </div>

                                        </div>

                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_default_4">

                                    <h2 class="sub-header">Log</h2>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                                    </div>
                                    <table class="display nowrap" id="logTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Data e ora</th>
                                            <th>Utente</th>
                                            <th>Operazione</th>
                                            <th>Dati interessati</th>
                                            <th>ID dato</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="l : ${log}">
                                            <td th:text="${l.id}"></td>
                                            <td th:text="${l.date}"></td>
                                            <td th:text="${l.user}"></td>
                                            <td th:text="${l.operation}"></td>
                                            <td th:text="${l.data}"></td>
                                            <td th:text="${l.idData}"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
