<title th:fragment="title">Gestione Magazzino</title>
<div th:fragment="contentDashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Dashboard</li>
                </ol>


                <div class="col-md-12">
                    <h2 class="sub-header">Pannello di gestione</h2>
                    <!-- item -->
                    <div class="col-md-3 text-center">
                        <div class="panel panel-success panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-barcode"></i>
                                <h3 th:text="${items}"></h3>
                                <h4>Prodotti</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="col-md-3 text-center">
                        <div class="panel panel-info panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-cogs"></i>
                                <h3 th:text="${inStock}"></h3>
                                <h4>In stock</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="col-md-3 text-center">
                        <div class="panel panel-danger panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-exclamation-triangle"></i>
                                <h3 th:text="${alarm}"></h3>
                                <h4>Allarme</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="col-md-3 text-center">
                        <div class="panel panel-warning panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-exclamation-triangle"></i>
                                <h3 th:text="${warining}"></h3>
                                <h4>Preallarme</h4>
                            </div>
                        </div>
                    </div>
                    <!-- /item -->
                </div>
                <div class="col-md-12">
                    <h2 class="sub-header">Visualizzazione grafica</h2>
                    <div id="map" style="height:300px"></div>
                </div>
                <div class="col-md-12">
                    <h2 class="sub-header">Prodotti critici</h2>
                    <div class="alert alert-info">
                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                    </div>
                    <table class="display nowrap" id="dataTable" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Brand</th>
                            <th>Codice</th>
                            <th>Magazzino</th>
                            <th>Qta</th>
                            <th>Preallarme</th>
                            <th>Allarme</th>
                            <th>Stato</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${productAlarm}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.brand}"></td>
                            <td th:text="${item.article_nr}"></td>
                            <td th:text="${item.location}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${item.warning}"></td>
                            <td th:text="${item.alarm}"></td>
                            <td>
                                <span th:if="${item.label} == -1" class="label label-success">Disponibile</span>
                                <span th:if="${item.label} == 0" class="label label-warning">Preallarme</span>
                                <span th:if="${item.label} == 1" class="label label-danger">Allarme</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>