<title th:fragment="title">Gestione Magazzino</title>
<div th:fragment="contentDashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Log</li>
                </ol>


                <div class="col-md-12">
                    <h2 class="sub-header">Log</h2>
                    <div class="alert alert-info">
                        <strong>Info!</strong> Clicca sulla colonna ID per maggiori informazioni.
                    </div>
                    <table class="display nowrap" id="logTable" width="100%">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data e ora</th>
                            <th>Utente</th>
                            <th>Operazione</th>
                            <th>Dati interessati</th>
                            <th>ID dato</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="l : ${log}">
                            <td th:text="${l.id}"></td>
                            <td th:text="${l.date}"></td>
                            <td th:text="${l.user}"></td>
                            <td th:text="${l.operation}"></td>
                            <td th:text="${l.data}"></td>
                            <td th:text="${l.idData}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>