<title th:fragment="title">Log in</title>
<div th:fragment="content">
    <div class="container" style="margin-top:30px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Log in </strong></h3>

                </div>

                <div class="panel-body">
                    <form role="form"  method="post" id="login-nav">
                        <div style="margin-bottom: 12px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="" type="text" class="form-control" name="username" value="marglu"
                                   placeholder="username or email">
                        </div>

                        <div style="margin-bottom: 12px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password"
                                   value="password" placeholder="password" >
                        </div>
                        <div th:if="${param.error}">
                            <b style="color: red;"> Username o password errati</b>
                        </div>

                        <hr style="margin-top:10px;margin-bottom:10px;">
                        <input type="submit" class="btn btn-primary" value="Login" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>