<title th:fragment="title">Gestione Magazzino</title>
<div th:fragment="contentDashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">
                <ol class="breadcrumb">
                    <li class="active">Configurazione E-Mail</li>
                </ol>


                <div class="col-md-12">
                    <h2 class="sub-header">Configurazione E-Mail</h2>
                    <div class="alert alert-info">
                        <strong>Info!</strong> Configura l'E-Mail da iniviare in caso di allarme dei prodotti
                    </div>
                    <div class="col-lg-8 col-lg-offset-2">
                        <form class="form-group" method="post" th:action="@{/mailConfig}" th:object="${mail}">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Oggetto</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" th:field="${mail.object}"/>
                                </div>
                            </div> <!-- Text input-->
                            <br>
                            <br>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Testo</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" th:field="${mail.text}"/>
                                </div>
                            </div> <!-- Text input-->

                            <input type="submit" class="btn btn-primary" value="Modifica mail"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>