<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title th:replace="${viewDashboard} :: title">Gestione Magazzino</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- DataTables core CSS -->
    <link href="/DataTables-1.10.13/media/css/jquery.dataTables.css" rel="stylesheet"/>


</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/dashboard}">Gestione magazzino</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                <!-- DASHBOARD -->
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <!-- END DASHBOARD -->

                <!-- PRODOTTI -->
                <li class="dropdown" th:if="${#lists.contains(functionalites,'Gestione prodotti')} or ${#lists.contains(functionalites,'Gestione categorie prodotti')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span>Prodotti</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/products}" th:if="${#lists.contains(functionalites,'Gestione prodotti')}">Prodotti</a></li>
                        <li><a th:href="@{/product/barcode}" th:if="${#lists.contains(functionalites,'Gestione prodotti')}">Acquisizione tramite barcode</a></li>
                        <li><a th:href="@{/product/register}" th:if="${#lists.contains(functionalites,'Gestione prodotti')}">Registrazione prodotto</a></li>
                        <li><a th:href="@{/product/category}" th:if="${#lists.contains(functionalites,'Gestione categorie prodotti')}">Configurazione categorie</a></li>
                        <li><a th:href="@{/product/category/register}" th:if="${#lists.contains(functionalites,'Gestione categorie prodotti')}">Registrazione categoria di prodotti</a></li>
                    </ul>
                </li>
                <!-- END PRODOTTI -->

                <!-- MAGAZZINO -->
                <li class="dropdown" th:if="${#lists.contains(functionalites,'Gestione magazzini')} or ${#lists.contains(functionalites,'Registrazione magazzini')} or ${#lists.contains(functionalites,'Gestione magazzini personali')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span>Magazzino</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/warehouse}"  th:if="${#lists.contains(functionalites,'Gestione magazzini')} or ${#lists.contains(functionalites,'Gestione magazzini personali')}"> Gestione magazzino</a></li>
                        <li><a th:href="@{/warehouse/register}"  th:if="${#lists.contains(functionalites,'Registrazione magazzini')}">Inserimento nuovo magazzino</a></li>
                    </ul>
                </li>
                <!-- END MAGAZZINO -->

                <!-- CANTIERE -->
                <li class="dropdown" th:if="${#lists.contains(functionalites,'Gestione cantieri')} or ${#lists.contains(functionalites,'Registrazione cantieri')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span>Cantiere</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/construction}" th:if="${#lists.contains(functionalites,'Gestione cantieri')}">Gestione cantieri</a></li>
                        <li><a th:href="@{/construction/register}" th:if="${#lists.contains(functionalites,'Registrazione cantieri')}">Inserimento nuovo cantiere</a></li>
                    </ul>
                </li>
                <!-- END CANTIERE -->

                <!-- UTENTI -->
                <li class="dropdown" th:if="${#lists.contains(functionalites,'Gestione utenti')} or ${#lists.contains(functionalites,'Gestione ruoli')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span>Utenti</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user}" th:if="${#lists.contains(functionalites,'Gestione utenti')}">Gestione utenti</a></li>
                        <li><a th:href="@{/user/register}" th:if="${#lists.contains(functionalites,'Gestione utenti')}">Registrazione utente</a></li>
                        <li><a th:href="@{/user/roles}" th:if="${#lists.contains(functionalites,'Gestione ruoli')}">Gestione ruoli</a></li>
                    </ul>
                </li>
            </ul>
            <!-- END UTENTI -->


            <ul class="nav navbar-nav navbar-right">
                <!-- LOG -->
                <li><a th:href="@{/log}" th:if="${#lists.contains(functionalites,'Visualizzazione log')}">Log</a></li>
                <!-- END LOG -->

                <!-- MAIL CONFIG -->
                <li><a th:href="@{/mailConfig}" th:if="${#lists.contains(functionalites,'Configurazione mail')}">Config E-Mail</a></li>
                <!-- END MAIL CONFIG -->

                <!-- PROFILO -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/logged">Modifica profilo</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">Log out</a></li>
                    </ul>
                </li>
                <!-- END PROFILO -->
            </ul>

        </div>
    </div>
</nav>

<div class="container" th:include="${viewDashboard} :: contentDashboard"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/username.js"></script>
<script src="/js/creationCompony.js"></script>

<script src="/js/research.js"></script>

<script src="/js/category.js"></script>

<script src="/js/productRegistration.js"></script>

<!--<script src="/js/configurator.js"></script>-->



<script src="/js/notification.js"></script>

<script src="/js/print.js"></script>
<script src="/js/redirectMobile.js"></script>
<!-- DATA TABLE -->
<script src="/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.responsive.min.js"></script>
<script src="/js/tableConfig.js"></script>

<script src="/js/item.js"></script>

<!--<script src="/js/quagga.min.js"></script>-->
<!--<script src="/js/quaggahelp.js"></script>-->

<!--<script src="/js/barcode.js"></script>-->

<script src="/js/qrcode/main.js"></script>
<script src="/js/qrcode/qrcodelib.js"></script>
<script src="/js/qrcode/webcodecamjquery.js"></script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcJ8zKRrVxNOjuQ9Cje6yTNCgliRf0UCE&callback=initMap">
</script>

</body>
</html>