<title th:fragment="title">Gestione Magazzino</title>
<div th:fragment="contentDashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-12 main">

                <div class="col-md-12">
                    <h2 class="sub-header">Attenzione! </h2>
                    <div class="alert alert-danger">
                        <strong>Non sei autorizzato a visitare questa pagina!</strong>
                    </div>
                    <img th:src="@{/resources/forbidden.jpg}" />
                </div>


            </div>
        </div>
    </div>
</div>